name: on-pull-request

on:
  pull_request:
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: false

      - name: Run detekt
        run: ./gradlew detekt --continue

      - name: Run tests
        run: ./gradlew 'testAndroidHostTest'

      - name: Tests results
        if: failure()
        run: |
          for report in $(find . -path "*/build/reports/tests/*UnitTest/index.html"); do
            echo "# Test: $(basename $(dirname $(dirname $(dirname $(dirname $(dirname "$report"))))))" >> $GITHUB_STEP_SUMMARY
            cat "$report" >> $GITHUB_STEP_SUMMARY
            echo "" >> $GITHUB_STEP_SUMMARY
          done

      - name: Build release to ensure it is working
        run: ./gradlew bundleRelease

      - name: Build JS to ensure it is working
        run: ./gradlew jsBrowserDistribution

      - name: Automerge
        if: github.event.pull_request.user.login != 'dependabot[bot]'
        run: gh pr merge --delete-branch --merge --auto ${{ github.head_ref }}
        env:
          GH_TOKEN: ${{ github.token }}
